/* ++++++ VARIABLES +++++++*/
:root {
    --interactive-element-color: rgb(216, 79, 16);
    --prompt-color: aquamarine;
    --disabled-input-color: rgba(255, 255, 255, 0.267);
}

/* ++++++ SELECTORS +++++++*/
body {
    background-color: rgb(32, 32, 28);
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#lineFormSeparator {
    margin-bottom: 2em;
}

#mainForm {
    width: 500px;
    margin: 40px auto;
    padding: 1em 2em;
    background-color: rgb(58, 32, 3);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(248, 230, 218);
}


input:not([type="checkbox"]) {
    width: calc(100% - 1.4em);
    padding: 0 .7em;
    font-size: 1.5em;
    font-family: "Host Grotesk", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border: 0;
    border-radius: .1em;
    color: var(--interactive-element-color);
}

#emailAsUserLabel {
    font-weight: 100;
    color: rgb(243, 140, 93);
    cursor: pointer;
}

#emailAsUserLabel:hover {
    color: rgb(243, 169, 134);
}

input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    padding: 0.05rem;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    border: 0.15rem solid rgb(255, 255, 255);
    background-color: rgb(221, 210, 197);
    cursor: pointer;
}

#passwordWrapper {
    width: 100%;
    max-height: 2em;
    margin: 0 2em 0 0;
}

input[id="password"] {
    width: calc(100% - 3.4em);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
}

input[autofocus],
input:focus-within:not([type="checkbox"]) {
    background-color: rgb(255, 255, 255);
    outline: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--interactive-element-color);
}

input[type="checkbox"]:checked:hover {
    background-color: rgb(247, 120, 62);
}

input[required] {
    background-color: rgba(255, 255, 255, 0.945);
}

input[disabled],
input.disabled {
    background-color: var(--disabled-input-color);
}

#submitButton {
    width: 50%;
    display: block;
    margin: 40px auto 30px;
    font-size: 2em;
    background-color: var(--interactive-element-color);
    color: rgba(255, 255, 255, 0.767);
}

#submitButton:not(:disabled):hover {
    background-color: rgb(247, 120, 62);
    cursor: pointer;
}

#submitButton[disabled] {
    background-color: var(--disabled-input-color);
    color: rgba(255, 255, 255, 0.267);
}

label {
    height: 1em;
    margin-top: 0;
    padding-left: 1em;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.900);
}

label:hover {
    color: rgba(255, 255, 255);
}

.field-prompts {
    height: 1em;
    margin-top: 0;
    padding-left: 1em;
    font-weight: 100;
    font-size: .9em;
    color: var(--prompt-color);
}

.field-prompts:not(:first-of-type) {
    margin-bottom: 30px;
}

#eyeIconOpen,
#eyeIconClosed {
    width: 2em;
    margin: 0;
    padding: 0 .2em;
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    vertical-align: top;
    cursor: pointer;
}

#eyeIconOpen{
    background-color: rgb(219, 6, 6);
}

#eyeIconOpen:hover{
    background-color: rgb(247, 50, 50);
}

#eyeIconClosed{
    background-color: rgb(4, 105, 4);
}

#eyeIconClosed:hover{
    background-color: rgb(26, 139, 26);
}

.toggle-visibility {
    display: none;
}

.toggle-visibility.visible {
    display: inline-block;
}

#lineButtonSeparator {
    width: 150px;
    margin-left: 0;
    margin-bottom: 0;
    background-color: var(--interactive-element-color);
}

.asterix {
    font-size: 1.5em;
    color: var(--prompt-color);
}

#asterixPrompt {
    margin-top: 0;
}