/* ++++++ VARIABLES +++++++*/
:root {
    --interactive-element-color: rgb(216, 79, 16);
    --prompt-color: aquamarine;
    --disabled-input-color: rgba(255, 255, 255, 0.267);
}

/* ++++++ SELECTORS +++++++*/
body {
    background-color: rgb(32, 32, 28);
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#lineFormSeparator {
    margin-bottom: 2em;
}

#mainForm {
    width: 500px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: rgb(58, 32, 3);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(248, 230, 218);
}

input:not([type="checkbox"]) {
    width: calc(100% - 2em);
    position: relative;
    display: inline-block;
    padding: 0 .7em;
    font-size: 1.5em;
    font-family: "Host Grotesk", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: .1em;
    color: var(--interactive-element-color);
}

#emailAsUserLabel{
    font-weight: 100;
    color: rgb(243, 140, 93);
}

#emailAsUserLabel:hover{
    color: rgb(243, 169, 134);
    cursor: pointer;
}

input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    padding: 0.05rem;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    border: 0.15rem solid rgb(255, 255, 255);
    background-color: rgb(221, 210, 197);
}

input[id="password"],
input[id="rePassword"] {
    width: 85%;
    display: inline-block;
}

input[autofocus],
input:focus-within:not([type="checkbox"]) {
    background-color: rgb(255, 255, 255);
    outline: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--interactive-element-color);
}

input[required] {
    background-color: rgba(255, 255, 255, 0.945);
    outline: 0;
}

input[disabled] {
    background-color: var(--disabled-input-color);
}

input.disabled{
    background-color: var(--disabled-input-color);
}

#submitButton {
    width: 50%;
    display: block;
    margin: 40px auto 30px;
    font-size: 2em;
    background-color: var(--interactive-element-color);
    color: rgba(255, 255, 255, 0.767);
}

#submitButton:hover {
    background-color: rgb(247, 120, 62);
}

#submitButton[disabled] {
    background-color:  var(--disabled-input-color);
    color: rgba(255, 255, 255, 0.267);
}

label {
    height: 1em;
    margin-top: 0;
    padding-left: 1em;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.900);
}

label:hover {
    color: rgba(255, 255, 255);
}

.field-prompts {
    height: 1em;
    margin-top: 0;
    padding-left: 1em;
    font-weight: 100;
    font-size: .9em;
    color: var(--prompt-color);
}

.field-prompts:not(:first-of-type) {
    margin-bottom: 30px;
}

#visibilityIconBox {
    margin-left: 0.3em;
    position: relative;
    font-size: 1em;
    display: inline;
    vertical-align: top;
    color: var(--interactive-element-color);
}

#visibilityIconBox:hover {
    color: rgb(247, 120, 62);
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.eye-icon {
    font-size: 2em;
}

.toggle-visibility {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.toggle-visibility.visible {
    visibility: visible;
}

#lineButtonSeparator {
    width: 150px;
    margin-left: 0;
    margin-bottom: 0;
    background-color: var(--interactive-element-color);
}

.asterix {
    font-size: 1.5em;
    color: var(--prompt-color);
}

#asterixPrompt {
    margin-top: 0;
}